<link href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.25.2/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.1/dist/flatpickr.css" rel="stylesheet">
<main>
  <div class="container">
   
  
    <div class="row">
      <div class="col">
<mwl-time-component></mwl-time-component>
      </div>
      <div class="col">
          <todo-list></todo-list>
        </div>
        <div class="col">
            Gym thing
          </div>
        
    </div>
    <div class="row">
      <div class="col">
          <mwl-demo-component>Loading...</mwl-demo-component>
      </div>
        <div class="col">
          Twitter thing
        </div>
    </div>
    <div class="row">
        <div class="col">
            Weather thing
        </div>
          <div class="col">
            Reminder thing
          </div>
    </div>
    <div class="row">
        <div class="col">
            Budget thing
        </div>
          <div class="col">
            Photo thing
          </div>
    </div>

  </div>
 
</main>