<link href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.25.2/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.1/dist/flatpickr.css" rel="stylesheet">
<main>
  <div class="container">
   
  
    <div class="row">
      
        <div class="col-md-6 ">
            <mwl-weather-component></mwl-weather-component>
            
         </div>
        <div class="col-md-6 vertical-align">
            <mwl-time-component></mwl-time-component>
          </div>

      </div>

      <div class="w-100"></div>
     
      <div class="row">
          <div class="col">
              <todo-list></todo-list>
            </div>
      </div>
      

      <div class="w-100"></div>
        
   
    <div class="row">
      <div class="col-md-12">
          <mwl-demo-component>Loading...</mwl-demo-component>
      </div>
          
    </div>
  

  </div>
 
</main>